<ion-content>
  <ion-slides pager="true">

    <ion-slide class="slide-image">
      <img src="assets/images/slide-1.png" atl="">
      <h1>Meu aplicativo</h1>
      <br>
      <div>
        <p> Primeiro slide para você deslizar para o lado.</p>
      </div>
    </ion-slide>

    <ion-slide class="slide-image">
      <img src="assets/images/slide-2.png" atl="">
      <h1>Facil navegação</h1>
      <br>
      <div>
        <p> Segundo slide para você deslizar para o lado.</p>
      </div>
    </ion-slide>

    <ion-slide class="slide-image">
      <img src="assets/images/slide-3.png" atl="">
      <h1>Siga para o app</h1>
      <br>
      <div>
        <p> Terceiro slide deslizavel. 
          <a href="#">Clique aqui para ir ao app.</a> 
          <!--Evento de clicar para seguir ao menu tabs
            <a (click)="goToTabsPage()">Clique aqui para ir ao app.</a> -->
        </p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>