<ion-header>
  <ion-toolbar>
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Matheus de Aquino presents</ion-card-subtitle>
        <ion-card-title>Welcome to My App!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This is my first ionic app.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
    </ion-list>
</ion-content>
