<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/images/snapeface.PNG">
      </ion-avatar>
      <h2 class="mensagem_title">{{ object_message.titulo }}</h2>
      <p class="mensagem_date">{{ object_message.data }}</p>
    </ion-item>

    <img src="assets/images/babyhp.PNG">

    <ion-card-content>
      <p>{{ object_message.mensagem }}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button ion-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{ object_message.likes }}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button ion-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>{{ object_message.comentarios }}</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          {{ object_message.momento }}
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>