<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let filme of lista_filmes" >
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/images/snapeface.PNG">
      </ion-avatar>
      <h2 class="mensagem_title">{{ filme.original_title }}</h2>
      <p class="mensagem_date">{{ filme.release_date }}</p>
    </ion-item>

    <img [src]="'https://image.tmdb.org/t/p/w500/' + filme.backdrop_path"> <!-- Banco de imagens do proprio site dono da API -->

    <ion-card-content>
      <p>{{ filme.overview }}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button ion-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{ object_message.likes }}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button ion-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>{{ object_message.comentarios }}</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          {{ object_message.momento }}
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>