<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="img/teste.png">
      </ion-avatar>
      <h2>Severus Prince Snape</h2>
      <p>July 31, 1980</p>
    </ion-item>

    <img src="img/blabla.png">

    <ion-card-content>
      <p>Harry Potter nasceu. Parabéns Lilian!</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button ion-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>7 likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button ion-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>9 comments</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>