<ion-header>
  <ion-toolbar>
    <ion-title>feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>My ionic app</ion-card-subtitle>
      <ion-card-title>Matheus de Aquino</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      I am really excited to build something interesting using ionic. 
      I have an idea for a great app about animals care.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Location: Rio de Janeiro - Brazil</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      If you want to share where you are just click here. But 
      I need to alert you: The technology already knows.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item href="#" class="activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>I put a wi-fi icon here.</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Meybe a drink icon here.</ion-label>
    </ion-item>

    <ion-item class="activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Alert icon right there.</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Porta-dos-fundos's icon right here.</ion-label>
    </ion-item>
  
  </ion-card>
</ion-content>